html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:'Segoe UI', Arial, sans-serif;
    background-color: #f0f7ff;
    margin: 0%;
}

.navbar-tmpl {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}
.navbar-tmpl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.navbar-tmpl a {
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    text-decoration: none;
    font-weight: 500;
    color: azure;
    background-color: rgba(68, 147, 251, 0.349);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.navbar-tmpl a:hover {
    background-color: rgb(15, 113, 240);
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.banner-home {
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.banner-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-home h2 {
    position: absolute;
    color: white;
    font-size: auto;
    top: 10%;
    left: 14.5%;
    max-width: 50%;
    font-size: clamp(1.8rem, 3vw, 3.6rem);
}

.intro-1 {
    text-align: center;
}

.intro-1 h1 {
    text-align: center;
}

.list-home {
    display: inline-block;
}

.list-home li {
    list-style-position: inside;
    list-style: url("../media/rocket.svg");
    font-weight: 500;
    padding-bottom: 1rem;
}

.list-home a {
    color: rgb(0, 108, 232);
}

.input-col {
    display: flex;
    flex-direction: column;
}

.form-1 {
    display: flex;
    gap: 5%;
    width: 100%;
    padding-left: 0px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.form-1 label {
    margin-bottom: 0.5rem;
}
.form-1 input {
    padding: 0.8rem;
    border-radius: 1rem;
    width: 8ch;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* CSS Clocks */
.btn-start-clock  {
    font-size: medium;
    padding: 0.8rem;
    background-color: greenyellow;
    border-radius: 1rem;
}
.btn-reset-clock  {
    font-size: medium;
    padding: 0.8rem;
    background-color: rgb(255, 245, 47);
    border-radius: 1rem;
}
.btn-continue-clock {
    display: none;
}

.btn-stop-clock  {
    font-size: medium;
    padding: 0.8rem;
    background-color: rgb(255, 82, 82);
    border-radius: 1rem;

}
.nav-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.nav-clock p {
    font-weight: 500;
}
.time-dclock {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.time-dclock p {
    font-size: 5rem;
    font-family: Consolas, "Courier New", monospace;
}

.insert-data-clock {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.insert-data-clock p {
    font-family: Consolas, "Courier New", monospace;
    font-weight: 600;
}

.btn-section-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.my-nav-home {
    display: block;
    background-color: blue;

}


/* MOdal de inicio CSS */


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.467);
  z-index: 1000;
}

.modal-contenido {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 15% auto;
  text-align: center;
  border-radius: 2rem;
  border-color: blueviolet;

}
.modal-contenido h4 {
    color: rgb(189, 226, 43);
}