html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:'Segoe UI', Arial, sans-serif;
    background-color: #f0f7ff;
    margin: 0%;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.banner-home {
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.banner-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-home h2 {
    position: absolute;
    color: white;
    font-size: auto;
    top: 10%;
    left: 14.5%;
    max-width: 50%;
    font-size: clamp(1.8rem, 3vw, 3.6rem);
}

.intro-1 {
    text-align: center;
}

.intro-1 h1 {
    text-align: center;
}

.list-home {
    display: inline-block;
}

.list-home li {
    list-style-position: inside;
    list-style: url("../media/rocket.svg");
    font-weight: 500;
    padding-bottom: 1rem;
}

.list-home a {
    color: rgb(0, 108, 232);
}


/* CSS Clocks */
.digital-clock button {
    font-size: medium;
    padding: 0.8rem;
    background-color: greenyellow;
    border-radius: 1rem;
}
.nav-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.nav-clock p {
    font-weight: 500;
}
.time-dclock {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.time-dclock p {
    font-size: 5rem;
    font-family: Consolas, "Courier New", monospace;
}


.my-nav-home {
    display: block;
    background-color: blue;

}