html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:'Segoe UI', Arial, sans-serif;
    background-color: #f0f7ff;
    margin: 0%;
}

.banner-home {
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.banner-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-home h2 {
    position: absolute;
    color: white;
    font-size: auto;
    top: 10%;
    left: 14.5%;
    max-width: 50%;
    font-size: clamp(2rem, 3vw, 3.6rem);
}

.title-1 {
    font-size: auto;
    text-align: center;
}